sdkconfig
sdkconfig.old
**/monitor.log
**/.cache
firmware/
**/build*
compile_commands.json
dependencies.lock
**/*.bin
**/managed_components
aes_key.bin
prvtkey.pem
aes_key_devdata.bin
.clang_complete
extras/docs
.vscode/settings.json
aes_key.bin
prvtkey.pem
aes_key_devdata.bin
