[submodule "extras/esp-idf/esp32-owb"]
	path = extras/esp-idf/esp32-owb
	url = git@github.com:SUPLA/esp32-owb.git
[submodule "extras/esp-idf/esp32-ds18b20"]
	path = extras/esp-idf/esp32-ds18b20
	url = git@github.com:SUPLA/esp32-ds18b20.git
