CONFIG_IDF_TARGET_ESP8266=y
CONFIG_IDF_TARGET="esp8266"

CONFIG_ESPTOOLPY_FLASHSIZE_2MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="2MB"
CONFIG_SPI_FLASH_SIZE=0x200000

CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_PARTITION_TABLE_OFFSET=0x8000
CONFIG_PARTITION_TABLE_FILENAME="partitions.csv"

CONFIG_FREERTOS_HZ=1000

CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD_115200B=y

# optimization is set to "release" even for debug, because of too slow ssl link
# establishment in debug mode
CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y

CONFIG_LOG_DEFAULT_LEVEL_VERBOSE=y
CONFIG_LOG_DEFAULT_LEVEL=5
CONFIG_SUPLA_DEBUG_BUILD=y
CONFIG_LOG_SET_LEVEL=y
CONFIG_ESP_TLS_INSECURE=y
CONFIG_ESP_TLS_SKIP_SERVER_CERT_VERIFY=y
CONFIG_HTTPD_MAX_REQ_HDR_LEN=1024

# disabling some curve options reduce ssl link setup time
CONFIG_MBEDTLS_ECP_DP_SECP521R1_ENABLED=
CONFIG_MBEDTLS_ECP_DP_BP256R1_ENABLED=
CONFIG_MBEDTLS_ECP_DP_BP384R1_ENABLED=
CONFIG_MBEDTLS_ECP_DP_BP512R1_ENABLED=

