CONFIG_SUPLAN_POC1_WIFI_SSID=""
CONFIG_SUPLAN_POC1_WIFI_PASSWORD=""
CONFIG_SUPLAN_POC1_ROLE_A=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=4096
CONFIG_ESP_WIFI_ENABLED=y
CONFIG_ESP_WIFI_DYNAMIC_RX_BUFFER_NUM=8
CONFIG_ESP_WIFI_DYNAMIC_TX_BUFFER_NUM=8
CONFIG_MBEDTLS_X509_CREATE_C=y
